{% load static %}
{% block answers %}
{% for answer in answers %}
 <div class="media answer_item">
        <div class="media-left mr-4">
            <table >
                <tr>
                    {% if user.id == question.author.id %}
                        <button class="my_btn1 js-approve-answer" data-answer_id="{{ answer.id }}"></button>                        
                        {% csrf_token %}  
                    {% endif %}                      
                    {% if answer.approved %}
                        <button class="my_btn1"></button>                        
                        {% csrf_token %}
                    {% endif %}
                </tr>
                <tr>
                    <td align="center">
                        <img class="ava" src="{{ MEDIA_URL }}{{ answer.author.upload }}" alt="{% static "img/ld2.png" %}">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="{% url 'user' id=answer.author.id %}">{{ answer.author }}</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span>                                
                            <button class="my_btn2 js-like-answer" data-answer_id="{{ answer.id }}" data-like_type="dislike"></button>
                            {% csrf_token %}   
                            <a>{{ answer.rating }}</a>
                            <button class="my_btn1 js-like-answer" data-answer_id="{{ answer.id }}" data-like_type="like"></button>                        
                            {% csrf_token %}
                        </span>
                    </td>
                </tr>
            </table>                    
        </div>
        <div class="media-body">
            <a>
                <h4>{{ answer.title }}</h4>
            </a>
            <p>{{ answer.text }}</p>   
            <p>{{ answer.create_date }}</p>          
        </div>
    </div>
{% endfor %}

<a href="{% url 'new_answer' id=question.id %}">{{ answer.author }}</a>
{% block new_answer %}
    {% include "question/new_answer.html" %}
{% endblock %}


{% block paginator %}
    {% include "question/paginator.html" %}
{% endblock %}

{% endblock %}