{% load static %}
{% block answers %}
{% for answer in answers %}
 <div class="media answer_item">
        <div class="media-left mr-4">
            <table >
                <tr>
                    <td align="center">
                        <img class="ava" src="{{ MEDIA_URL }}{{ answer.author.upload }}" alt="{% static "img/ld2.png" %}">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="{% url 'user' id=answer.author.id %}">{{ answer.author }}</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span>                                
                            <button type="button" class="my_btn2"></button>
                            <a>{{answer.rating}}</a>
                            <button type="button" class="my_btn1"></button>
                        </span>
                    </td>
                </tr>
            </table>                    
        </div>
        <div class="media-body">
            <a>
                <h4>{{ answer.title }}</h4>
            </a>
            <p>{{ answer.text }}</p>   
            <p>{{ answer.create_date }}</p>          
        </div>
    </div>
{% endfor %}

<div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5">Комментировать</textarea>
</div>

<button type="submit" class="btn btn-primary" style="margin: 0px 0px 10px 0px">Ответить</button>

<div class="pagination">
    <span class="step-links">
        {% if answers.has_previous %}
            <a href="?page={{ answers.previous_page_number }}"><-</a>
        {% endif %}

        <span class="current">
            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
        </span>

        {% if answers.has_next %}
            <a href="?page={{ answers.next_page_number }}">-></a>
        {% endif %}
    </span>
</div>

{% endblock %}