{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
    <title>AskHub</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link href="{% static "css/askme.css" %}" rel="stylesheet">
</head>

<body>
    <header>
    {% block navbar %}
        {% include "question/navbar.html" %}
    {% endblock %}
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-4">    
                {% block sidebar %}
                    {% include "question/sidebar.html" %}
                {% endblock %}

            </div>
        </div>
    </main>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
