{% extends "question/navbar.html" %}

{% load static %}
{% block makeup %}
    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-4">    
                <h4>Top Tags</h4>
                {% for t in tags %}
                    <a href="">{{ t.title }}</a>
                {% endfor %}
                <!--
                {% block sidebar %}{% endblock %}
                -->
            </div>
        </div>
    </main>
{% endblock %}