{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <!-- Begin page content -->    
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'new' %}" class="btn btn-outline-primary" style="width:243px">Новые</a>
        <a href="{% url 'top' %}" class="btn btn-outline-primary" style="width:243px">Рейтинг</a>
        <a href="{% url 'top' %}" class="btn btn-outline-primary" style="width:243px">Понравилось</a>
    </div>

    {% for q in questions %}
    <div class="media question_item">
        <div class="media-left mr-4">
            <table >
                <tr>
                    <td align="center">                   
                        <img class="ava" src="{{ MEDIA_URL }}{{ q.author.upload }}" alt="{% static 'img/ld2.png' %}">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="{% url 'user' id=q.author.id %}">{{ q.author }}</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span>                                
                            <button type="button" class="my_btn2"></button>
                            <a>{{ q.rating }}</a>
                            <button type="button" class="my_btn1"></button>
                        </span>
                    </td>
                </tr>
            </table>                    
        </div>
        <div class="media-body">
            <a href="{% url 'question' id=q.id %}">
                <h4>{{ q.title }}</h4>
            </a>
            <p>{{ q.text }}</p>   
            <p>{{ q.create_date }}</p>          
            <div class="row">
                <div class="col">
                    <a href="{% url 'question' id=q.id %}">Ответы({{ Answer.objects.get_len }})</a>
                </div>
                <div class="col">
                    Тэги: 
                    {% for qt in q.tags.all %}
                        <a href="">{{ qt }}</a>
                    {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="?page={{ questions.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
            </span>

            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">-></a>
            {% endif %}
        </span>
    </div>

{% endblock %}

    