{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <!-- Begin page content -->
<form>
	<p>
		<a href="{% url 'registration' %}">Регистрация</a>
	</p>
	<div class="form-group">
    	<label for="exampleInputEmail1">Почта</label>
    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    	<small id="emailHelp" class="form-text text-muted">Одно мгновение - и ваши данные уже в руках рекламодателей!</small>
	</div>
	<div class="form-group">
    	<label for="exampleInputPassword1">Пароль</label>
    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
	<div class="form-group form-check">
    	<input type="checkbox" class="form-check-input" id="exampleCheck1">
    	<label class="form-check-label" for="exampleCheck1">Запомнить</label>
	</div>
  	<button type="submit" class="btn btn-primary">Войти</button>
</form>


{% endblock %}
