{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <!-- Begin page content -->
<div class="main">
<form class="form-horizontal" action="/login/?next={{ request.GET.next }}" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <fieldset>
            <h4>Введите логин и пароль</h4>
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}

            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-success"/>
                <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
            </div>
        </fieldset>
    </div>
</form>
</div>

<!--
<form>
    <p>
        <a href="{% url 'registration' %}">Регистрация</a>
    </p>
    <div class="form-group">
        <label for="exampleInputEmail1">Почта</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Вводите почту мудро</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Запомнить</label>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
    <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
</form>
-->

{% endblock %}

