{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <!-- Begin page content -->
<div class="main">
<form class="form-horizontal" action="/login/?next={{ request.GET.next }}" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <fieldset>
            <h4>Введите логин и пароль</h4>
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}

            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-success"/>
                <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
            </div>
        </fieldset>
    </div>
</form>
</div>

{% endblock %}

