{% load static %}
{% block content %}

<div class="pagination">
    <span class="step-links">
        {% if page_objects.has_previous %}
            <a href="?page={{ page_objects.previous_page_number }}"><-</a>
        {% endif %}

        <span class="current">
            Page {{ page_objects.number }} of {{ page_objects.paginator.num_pages }}.
        </span>

        {% if page_objects.has_next %}
            <a href="?page={{ page_objects.next_page_number }}">-></a>
        {% endif %}
    </span>
</div>

{% endblock %}