{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <!-- Begin page content -->
    <div class="media one_question_item">
        <div class="media-left mr-4">
            <table >
                <tr>
                    <td align="center">
                        <img class="ava" src="{{ MEDIA_URL }}{{ question.author.upload }}" alt="{% static "img/ld2.png" %}">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="{% url 'user' id=question.author.id %}">{{ question.author }}</a>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <span>                                
                            <button type="button" class="my_btn2"></button>
                            <a>{{question.rating}}</a>
                            <button type="button" class="my_btn1"></button>
                        </span>
                    </td>
                </tr>
            </table>                    
        </div>
        <div class="media-body">
            <a>
                <h4>{{ question.title }}</h4>
            </a>
            <p>{{ question.text }}</p>   
            <p>{{ question.create_date }}</p>
            <p>
                Тэги: 
                {% for qt in question.tags.all %}
                    <a href="">{{ qt }}</a>
                {% endfor %}
            </p> 
              
            {% block answers %}
                {% include "question/answers.html" %}
            {% endblock %}

        </div>
    </div>



{% endblock %}
