{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <img src="{% static "img/ld2.png" %}" style="width:80px;height:80px" alt="">
                        </div>
                        <div class="row" align="center">
                            <a>Антоха</a>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <h2>My best quest</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptas, architecto suscipit aliquam maiores debitis facilis fugiat illum neque? Quidem maxime quod sed voluptate praesentium voluptas saepe fugit, assumenda, doloremque.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">Tags</div>
        </div>
    </main>
{% endblock %}
