{% extends "question/base.html" %}

{% load static %}
{% block content %}
    <div class="main">
        <form enctype="multipart/form-data" class="form-horizontal" action="{% url 'registration' %}" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <fieldset>

                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-success"/>
                    </div>

                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}


<!--
<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Text">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Имя</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Почта</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Повторите</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Картинка</label>
        <div class="col-sm-10">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </div>
    </div>
</form>
-->